*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }
body{
     background:linear-gradient(rgba(194, 48, 238, 0.397) , rgb(20, 2, 43));
    color: aqua;
    height: 100vh;

  }    
  header{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 30px;
    width: 100%;
    z-index: 1;


  }
  header h2 a{
    text-decoration: none;
    color: aliceblue;


  }
  .logo{
    font-size: 30px;
    text-transform: capitalize;
    

  }

  header ul{
    display: flex;
    
    

  }
  header ul li{
    margin: 20px;
    list-style: none;

 


  }
  header ul li a{
  
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    border-radius: 20px;
    padding: 8px;
    
    
    
  }
  header ul li a:hover{
        background-color: rgb(255, 255, 255);
        color: black;

  }
  .sor{
    position: relative;
    height: 100vh;
    width: 100%;

  }
 
  .sor img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
 #gmr{
 position: absolute;
 top: 40px;
 object-fit: contain;
 mix-blend-mode: screen;
 

}
.as{
  padding: 50px 0px ;
  color: black;
  margin: 20px;
}
